[server:default]
method = TLSv1.2+
verify_certificate = yes
require_certificate = no
private_key = ${SIP_TLS_KEY}
certificate = ${SIP_TLS_CERT}

[client:default]
method = TLSv1.2+
verify_certificate = yes
require_certificate = yes
ca_list = /etc/ssl/certs/ca-certificates.crt
